/*Style sheet for mina's business*/

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Teachers:ital,wght@0,400;0,700;1,400&display=swap');


:root{
    --heading-font: "Rock Salt", Helvetica, sans-serif;
    --paragraph-font: Teachers, helvetica, sans-serif;
}

#content{
    max-width: 1800px;
    margin: 0;
    padding: 0;
    background-color: #4A4641;
}
header, footer{
    background-color: #4A4641;
    padding-top: 10px;
    margin-left: -10px;
    margin-right: -10px;
}
.logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav {
    display: flex;
    
}
nav a{
    text-decoration: none;
    padding: 15px 75px;
    text-align: center;
    font-family: var(--paragraph-font);
    color: #FFE3E3;
    font-size: 1.5em;
}
nav a:hover{
    color: white;
    background-color: #88A27D;
}
main{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 50px 650px auto;
    line-height: 500px;
}
#qualif{
    font-family: var(--paragraph-font);
    background-color: #88A27D;
    color: whitesmoke;
    padding: 20px;
    font-size: 1.4em;
    line-height: 1.5em;
    box-shadow: 5px 5px 10px #4A4641;
    grid-column: 6/10;
    grid-row: 2;
    max-height: 500px;
    min-height: 300px;
    padding: 35px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bamboo_rocks{
    max-width: 700px;
    height: auto;
    grid-column: 2/6;
    margin-top: auto;
    margin-bottom: auto;
    grid-row: 2;
    box-shadow: 5px 5px 10px #4A4641;
}
#insta{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;   
    margin: 20px auto;
}
#ig_logo{
    border-radius: 50px;
}
.logo{
    max-width: 150px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}
img{
    height: auto;
}
.active{
    background-color: #88A27D;
    color: white;
}
footer .logo{
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
}
footer nav{
    padding-top: 0;
    margin-top: -10px;;
}
footer{
    margin-bottom: -15px;
}
